# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
.venv/
backend/venv/
backend/venv312/

# React/Vite
frontend/node_modules/
frontend/dist/

# Uploads
backend/uploads/

# Mac
.DS_Store

# Environment files
.env
.env.local
